<div class="page-header">
  <h1><%= @question.question %></h1><h3>Submitted by <%= @question.user.email %></h3>
</div>



<div class="btn-group pull-left">
  <%= link_to like_question_path(@question), method: :put,class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= @question.get_upvotes.size %>
  <% end %>

  <%= link_to dislike_question_path(@question), method: :put,class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-down"></span>
    Downvote
    <%= @question.get_downvotes.size %>
  <% end %>
</div>

<% if @question.user == current_user -%>
 
    <%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %>
    <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
 
<% end %>

<h3 class="answers_title">
  <%= @question.answers.count %> Answers
</h3>
 
<div id="answers">
  <%= render :partial => @question.answers %>
</div>
<%= simple_form_for [@question, Answer.new] do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Answer", class: "btn btn-primary" %>
<% end %>


