<%= div_for(answer) do %>
  <div class="answers_wrapper clearfix">
    <div class="pull-left">
      <p class="lead"><%= answer.body %></p>
      <p><small>Submitted <strong><%= time_ago_in_words(answer.created_at) %> ago</strong> by <%= answer.user.email %></small></p>
    </div>
  

    <div class="btn-group pull-right">
      <%= link_to like_answer_path(answer), method: :put,class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
          Upvote
         <%= answer.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_answer_path(answer), method: :put,class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
          Downvote
          <%= answer.get_downvotes.size %>
      <% end %>
    </div>


    <div class="btn-group pull-right">
      <% if answer.user == current_user -%>
        <%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
      <% end %>
    </div>
  </div>


<% end %>






